  
  <div style="background-color:#EEF6F6; box-shadow: 0 1em 1em gray;padding-bottom:280px;margin:115px 65px 15px;">
    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post , :class => 'form-horizontal reset-password' , :style => 'margin-left:25%;'}) do |f| %>
      <h2 style="color:black">Forgot your password?</h2><br/>
                                                            
      <%= devise_error_messages! %>
      
      <div class="control-group">
        <label class="control-label root_color" for="inputEmail" style="color:black">Email</label>
        <div class="controls">    
          <%= f.email_field :email, :class =>"required", :style=>"width:246px;"%>
       </div>
      </div>  
      
      <div class="control-group">
        <div class="controls">
          <%= f.submit "Send me reset password instructions"  , :class => 'btn'%>        
        </div>
      </div>
    <% end %>
  </div>
  <div style="float:right;margin: -290px 290px 0;">
    <%#= render "devise/shared/links" %>
  </div>


