.search {
	background-image:url('../assets/bk.jpg');
	background-repeat:no-repeat;
	background-size:cover;
	box-shadow:4px 4px 12px -2px rgba(20%,20%,40%,0.5);
	margin-top: 40px;
	padding-bottom: 40px;
	padding-top: 50px;
}
.search h1 {
	color: #ffffff;
	text-shadow: 0 0 15px rgba(0,0,0,1),0 -1px 1px rgba(0,0,0,0.6);
	margin-top: 170px;
	margin-bottom: 15px;
	font-size: 48px;
	line-height: normal;
	text-align: center
}
.search h2 {
	color: #ffffff;
	margin-bottom: 30px;
	text-align: center
}
.search h3 {
	text-shadow: 0 0 15px rgba(0,0,0,1),0 -1px 1px rgba(0,0,0,0.6);
	color: #ffffff;
	line-height: normal;
	font-size: 20px;
	text-align: center
}

.indexSearchBar{
	text-align: center;
}

.RecommendPhoto{
	height: auto;
	max-width:160px; 

}
.mainBody{
	margin-top: 120px;
	margin-bottom: 50px;
}
.noNode{
	list-style-type:none;
}
.headerCat{
	margin-right:20px;
	color:#ffffff;
	font-size:18px;
}


